{% extends 'user/base.html' %}

{% block title %}View Records{% endblock %}

{% block content %}
<div class="medical-records-container">
    <h2>Medical Records</h2>

    <ul>
        {% for record in medical_records %}
            <li class="record-item">
                <p><strong>Patient:</strong> {{ record.patient.username }}</p>
                <p><strong>Date:</strong> {{ record.record_date }}</p>
                <p><strong>Status:</strong> {{ record.status }}</p>
                <p><strong>Prescription:</strong> {{ record.prescription }}</p>
                <p><strong>Notes:</strong> {{ record.notes }}</p>
            </li>
            <hr>
        {% empty %}
            <li class="no-data">No medical records available.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'doctor_dashboard' %}" class="back-button">Back to Dashboard</a>
</div>

<style>
    .medical-records-container {
        max-width: 600px;
        margin: 40px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
    }

    .medical-records-container h2 {
        color: #2c3e50;
        text-align: center;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .record-item {
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 15px;
        background-color: #ffffff;
        color: #333;
    }

    .record-item p {
        font-size: 16px;
        margin: 10px 0;
        line-height: 1.5;
    }

    .record-item p strong {
        color: #65d357;
    }

    .no-data {
        text-align: center;
        font-style: italic;
        color: #888;
        margin-top: 20px;
    }
    .back-button {
        display: block;
        width: 100%;
        max-width: 200px;
        margin: 20px auto 0;
        padding: 10px 20px;
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        background-color: #70d357;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .back-button:hover {
        background-color: #63eb70;
    }
</style>

{% endblock %}
