{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Healthcare Management System{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    {% if user.patient %}
                    <li><a href="{% url 'patient_dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'patient_profile' %}">Profile</a></li>
                    {% elif user.doctor %}
                    <li><a href="{% url 'doctor_dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'doctor_profile' %}">Profile</a></li>
                    {% endif %}
                    
                    <li>
                        <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
                        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'main_page' %}">Home</a></li>
                    <li><a href="{% url 'about_us' %}">About Us</a></li>
                    <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Healthcare Management System</p>
    </footer>
</body>
</html>
