{% extends 'user/base.html' %}

{% block title %}Doctor Dashboard{% endblock %}

{% block content %}
    <h2>Welcome Dr. {{ user.first_name }} {{ user.last_name }}</h2>
    
    <p>Here you can manage appointments and view patient history.</p>
    <br><button><a href="{% url 'set_availability' %}">Set Availability Days</a></button><br>
    <br><button><a href="{% url 'view_timetable' %}" class="btn btn-primary">View Timetable</a></button><br>
    <br><button><a href="{% url 'view_appointment_requests' %}" class="btn btn-primary">View Appointment Requests</a></button><br>
    <br><button><a href="{% url 'confirmed_appointments' %}">See Confirmed Appointments</a></button>
    <br><a href="{% url 'patient_list' %}">
        <button type="button">View Patient List</button>
    </a>

    <br><a href="{% url 'medical_record_list' %}">
        <button type="button" class="btn btn-secondary">View Medical Records</button>
    </a>

    

{% endblock %}
