{% extends 'user/base.html' %}

{% block title %}Patient Dashboard{% endblock %}

{% block content %}
    <h2>Welcome, {{ user.first_name }} {{ user.last_name }}!</h2>
    
    
    <button><a href="{% url 'book_appointment' %}">Book Appointment</a></button><br>

   

    <button><a href="{% url 'view_booked_appointments' %}">View Your Appointments</a></button><br>

    <a href="{% url 'patient_prescriptions' %}" class="btn btn-secondary">View Your Prescriptions</a>

    <br><a href="{% url 'patient_medical_record_list' %}">
        <button type="button" class="btn btn-secondary">View Your Medical Records</button>
    </a>



{% endblock %}
